<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Malu CIP</title>
</head>
<body>
<p>
    generated: {{ now }}
</p>
<h1>Cinemas</h1>
<ul>
    {% for cinema in cinemas %}
        <li><a href="#{{ cinema.cinema.name }}">{{ cinema.cinema.name }}</a><a href="{{ cinema.cinema.url }}" target="_blank">-></a></li>
    {% endfor %}
</ul>
<h1>Movies</h1>
<ul>
    {% for movie in movies %}
        <li><a href="#{{ movie.title }}">{{ movie.title }}</a><a href="{{ movie.url }}" target="_blank">-></a></li>
    {% endfor %}
</ul>
<ul>
    {% for cinema in cinemas %}
        <li><a href="{{ cinema.cinema.url }}" target="_blank">{{ cinema.cinema.name }}</a></li>
        <ul id="{{ cinema.cinema.name }}">
            {% for movie in cinema.movies %}
                <li><a href="{{ movie.url }}" target="_blank">{{ movie.title }}</a></li>
                <ul>
                    {% for st in movie.show_times %}
                        <li>{{ st }}</li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </ul>
    {% endfor %}
</ul>
<h1>Movies</h1>
<ul>
    {% for movie in movies %}
        <li><a href="{{ movie.url }}" target="_blank">{{ movie.title }}</a></li>
        <ul id="{{ movie.title }}">
            {% for cinema in movie.cinemas %}
                <li><a href="{{ cinema.url }}" target="_blank">{{ cinema.name }}</a></li>
                <ul>
                    {% for st in cinema.show_times %}
                        <li>{{ st }}</li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </ul>
    {% endfor %}
</ul>
</body>
</html>
