<html lang="en">
<head>
    <meta charset="utf-8">
</head>
<body>
<h1>Cinemas</h1>
<ul>
    {% for cinema in cinemas %}
        <li><a href="#{{ cinema.name }}">{{ cinema.name }}</a></li>
    {% endfor %}
</ul>
<h1>Movies</h1>
<ul>
    {% for movie in movies %}
        <li><a href="#{{ movie.movie.title }}">{{ movie.movie.title }}</a></li>
    {% endfor %}
</ul>
<ul>
    {% for cinema in cinemas %}
        <li>{{ cinema.name }}</li>
        <ul id="{{ cinema.name }}">
            {% for movie in cinema.movies %}
                <li>{{ movie.movie.title }}</li>
                <ul>
                    {% for st in movie.movie.show_times %}
                        <li>{{ st }}</li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </ul>
    {% endfor %}
</ul>
<h1>Movies</h1>
<ul>
    {% for movie in movies %}
        <li>{{ movie.movie.title }}</li>
        <ul id="{{ movie.movie.title }}">
            {% for cinema in movie.cinemas %}
                <li>{{ cinema.name }}</li>
                <ul>
                    {% for st in cinema.show_times %}
                        <li>{{ st }}</li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </ul>
    {% endfor %}
</ul>
</body>
</html>
