<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Malu CIP</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Top</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#section-cinemas">Cinemas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#section_movies_by_cinema">Cinemas + Movies</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container" style="margin-top: 80px">
    <p>
        generated: {{ now }}
    </p>
    <div class="row">
        <h2 id="section-cinemas">Cinemas</h2>
        <ul class="list-group">
            {% for cm in movies_by_cinema %}
                <li class="list-group-item"><a href="#{{ cm.cinema.name }}">{{ cm.cinema.name }}</a><a
                        href="{{ cm.cinema.url }}"
                        target="_blank">-></a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="row">
        <h2 id="section_movies_by_cinema">Movies by cinema</h2>
        {% for cm in movies_by_cinema %}
            <div class="row">
                <div class="row" style="background-color: dodgerblue; color: white; margin: 5px 0">
                    <h3 style="display: inline">{{ cm.cinema.name }}</h3>
                    <a href="{{ cm.cinema.url }}" target="_blank">link</a>
                </div>
                <div class="row" id="{{ cm.cinema.name }}">
                    <div class="row">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th colspan="2"></th>
                                {% for day in days %}
                                    <th>{{ day }}</th>
                                {% endfor %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for movie in cm.movies %}
                                {% for mc in movie.cinemas %}
                                    {% if mc.url == cm.cinema.url %}
                                        <tr>
                                            <td>
                                                <img src="{{ image_prefix }}/{{ movie.image_url }}" width="75px"/>
                                            </td>
                                            <td><a href="{{ movie.url }}" target="_blank">{{ movie.title }}</a></td>
                                            {% for by_day in mc.show_times | showtimesdays(days) %}
                                                <td>
                                                {% for st in by_day %}
                                                    <span class="badge rounded-pill bg-primary">{{ st|showtime }}</span>
                                                    <br/>
                                                {% endfor %}
                                            {% endfor %}
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <hr/>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
</body>
</html>
